.icon-48-studentsform {
      background-image: url(../images/l_studentsform.png);
      padding-left:60px!important;
}

.icon-48-studentform {
      background-image: url(../images/l_studentsform.png);
      padding-left:60px!important;
}

